<a href="/login"> <button type="submit"> log in </button> </a>
<a href="/register"> <button type="submit"> register </button> </a>
<a href="/urls"> <button type="submit"> database </button> </a>
<a href="/urls/new"> <button type="submit"> new link </button> </a>
<form action="/logout" method="post">
  <button type="submit"> logout </button>
</form>
