<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <li><a href="/urls"> database </a> </li>
    <li><a href="/urls/new"> new link </a> </li>
  </ul>
  <%= //express_server.js %>
  <%= %>
</body>
</html>
