<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h3>Welcome to TinyApp!</h3>
      <p>You are not logged in. Please <a href="/login">log in</a> or <a href="/register">register</a> to continue. </p>
  </body>
</html>
