<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body bgcolor="#FCF3FF" style="font-size:20px; padding:50px;">
    <h3><font face="Courier" color="#008B8B">Welcome to TinyApp!</font></h3>
      <p><font face="Courier">You are not logged in. Please <a href="/login">log in</a> or <a href="/register">register</a> to continue.</font></p>
  </body>
</html>
