<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h3>TinyApp</h3>
  <form action="/login" method="POST">
    <p> Log In </p>
    <input type="text" name="email" placeholder="example@email.com">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
  </form>
</body>
</html>
