<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body bgcolor="#FCF3FF">
  <h3><font face="Courier" color="#008B8B">TinyApp</font></h3>
  <form action="/login" method="POST">
    <label><font face="Courier">Login</font></label>
    <input type="text" name="email" placeholder="example@email.com">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
    <p><font face="Courier">Or, if you do not yet have an account: <a href="/register">register</a> to continue.</font></p>
  </form>
</body>
</html>
