<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body bgcolor="#FCF3FF">
  <h3><font face="Courier" color="#008B8B">TinyApp</font></h3>
    <form action="/register" method="POST">
      <label><font face="Courier">Register</font></label>
      <input type="email" name="email" placeholder="example@email.com">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Register Now">
      <p><font face="Courier">Or, if you have an account: <a href="/login">log in</a> to continue.</font></p>
    </form>
</body>
</html>
