<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <ul>
    <% for (var objKey in urls) { %>
    <li><%= objKey %> : <%= urls[objKey] %> </li>
    <% } %>
    <li><a href="iflscience.com" target="_blank"> future link for shortening </a></li>
  </ul>
</body>
</html>
