<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <ul>
    <% for (var objKey in privateURLs) { %>
    <li><%= objKey %> : <%= privateURLs[objKey] %></li>
      <form method="POST" action="/urls/<%= objKey %>/delete">
        <button> delete </button>
      </form>
      <button><a href="/urls/<%= objKey %>"> edit </a></button>
    <% } %>
  </ul>
</body>
</html>
